* {
    margin: 0;
    color: rgba(95, 99, 104, 1);
    font-family: arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cabecalho {
    display: flex;
    justify-content: space-between; 
    padding: 20px 5px;
    align-items: center;
}

.cabecalho a {
    margin: 8px 10px 0px 0px;
    text-decoration: none; 
    font-size: 13.5px;  
}

.cabecalho a:hover {
    text-decoration: underline;
}

.cabecalho-direito {
    display: flex;
    margin-left: auto; 
    min-width: 13vw;
    justify-content: space-between;
}

#google-apps {
    padding: 0px 20px 6px 10px;
    cursor: pointer;
}

#avatar {
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.corpo-principal {
    flex: 1;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

.corpo-principal img {
    object-fit: contain; 
    height: 100px;
}

.pesquisa-entrada {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.pesquisa-entrada:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.pesquisa-entrada input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 16px;
}

.pesquisa-entrada img {
    height: 25px;
    cursor: pointer;
}

.botoes-pesquisa {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.botoes-pesquisa button {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgba(248, 249, 250, 1) ;
    outline: none;
    border: none;
    cursor: pointer;
}

.botoes-pesquisa button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.linguage {
    display: flex;
    font-size: small;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.linguage a {
    text-decoration: none;
    color: rgb(68, 58, 187);
}

.rodape {
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(242, 242, 242, 1); 
    line-height: 40px;
}

.rodape span, 
.rodape a  {
    text-decoration: none;
    font-size: 14px;
    padding: 0px 10px;
}

.place {
    border-bottom:1px solid rgba(218, 220, 224, 1); 
}

.rodape a {
    padding-right: 10px;
}

.rodape a:hover {
    text-decoration: underline;
}

.leftlinks {
    display: inline-flex;
    justify-items: flex-start;  
}

.rightlinks {
	position: relative;
	float: right;
	right: 20px;
	padding-left: 10px;  
}

@media (max-width: 700px) {
    .linguage { 
        transform: translateX(25%);
    }

    .info {
        display: block;
        text-align: center;
    }

    .rightlinks {
        float: none;
    }
}